{% extends 'base.html' %}
{% load static %}
{% comment %}# -*- coding: utf-8 -*-{% endcomment %}
{% block content %}


<div class="container mt-4 content">
    <div class="card">

        <div class="card-header">
            <div class="row justify-content-end">
                <div class="col-9">
                    <span class="nav-item ms-2">{{user}} - Conta Atual</span>
                </div>

                <div class="col-3">
                    <i style="font-size: 24px; margin-left: 48%" class="bi bi-bank">Financs $</i>
                </div>
            </div>
        </div>

        <div class="row ms-2">
            {% if request.user.id %}
            <table>
                <tr>
                    <td>
                        <p class="text-dark mt-2">Digito Conta: {{ user.id }}</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p class="text-dark">Nome: {{ user }}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-dark">Data do extrato: {{ data_atual|date:"d/m/Y" }}</p>
                    </td>
                </tr>
            </table>
            {% endif %}
        </div>

        <div class="card-body">
            <h5 class="mb-1">Lançamentos</h5>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Data</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Numero ID</th>
                        <th scope="col">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rs in resultados %}
                    <tr>
                        {% if rs.dp_rc == "Despesa" %}
                        <td class="text-danger">{{ rs.data_entrada|date:"d/m/Y" }}</td>
                        <td class="text-danger">{{ rs.nome }}</td>
                        <td class="text-danger">{{ rs.id }}</td>
                        <td class="text-danger text-right">-{{ rs.valor }}</td>
                        {% else %}
                        <td class="text-success">{{ rs.data_entrada|date:"d/m/Y" }}</td>
                        <td class="text-success">{{ rs.nome }}</td>
                        <td class="text-success">{{ rs.id }}</td>
                        <td class="text-success text-right">{{ rs.valor }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>{{ data_atual|date:"d/m/Y" }}</td>
                        <td>SALDO</td>
                        <td></td>
                        <td>{{ saldo }}</td>
                    </tr>
                </tbody>
            </table>
            <a href="{% url 'extrato_pdf' %}" target="_blank " class="btn btn-danger  no-print">Exportar para PDF</a>
        </div>

        <!-- Inclua os links para o Bootstrap JS e o arquivo JS personalizado, se necessário -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="{% static 'custom.js' %}"></script>

    </div>
</div>
<style>
    @media print {
        .no-print {
            display: none;
        }
    }
</style>
{% endblock %}
