{%extends 'base.html'%}
{%load static %}

{%block content%}
<h2 class=" text-center">Adicionar uma Despesa</h2>
<div class='col content'>
  <div class='container mt-4 mb-5  d-flex justify-content-center align-items-center'>

      <div class="card mt-3" style="width:400px">
        <h5 class="card-header text-center">Despesas</h5>
        <div class="card-body ">
      
                  <form method="post">
                      {% csrf_token %}
      
                      <div class="form-group">
                  
                  
                    {{form.as_p}}
                    <label for="data_vencimento"> Data de Vencimento: </label>
                    <input type="date" name="data_vencimento" id="data_vencimento" class="form-control input mb-4" style="max-width:300px; text-align: left" placeholder="03/08/2023"> 
                    
                    
                    
                    <input class="form-check-input" type="checkbox" value="false" id="meuCheckbox"  name="meuCheckbox">
                    <label class="form-check-label" for="flexCheckDefault">
                      Marque se a Despesa for Constante
                    </label>
                    <br>
                    <br>
                    <label for="despesa_valor"> Valor: </label>
                    <input name="despesa_valor" required id="despesa_valor" class="form-control input mb-4" style="max-width:300; text-align: left" placeholder="Ex 00,00"> 

                  <button type="submit" class="btn btn-primary text-white" >Adicionar Despesa </button>
                  <a href="{%url 'despesa' request.user.id %}" class="btn btn-danger text-white" >Cancelar</a>

                  </form>
                  
          
        

        </div>
      </div>
  </div>
</div>

<script>
  // Obtenha o elemento do checkbox pelo ID
  var checkbox = document.getElementById("meuCheckbox");

  // Valor original do checkbox
  var valorOriginal = checkbox.checked;

  // Adicione um ouvinte de evento para detectar mudanças no estado do checkbox
  checkbox.addEventListener("change", function() {
    // Se o checkbox for marcado, defina o valor como verdadeiro
    if (checkbox.checked) {
      checkbox.value = "true";
      console.log("true")
    } else {
      // Se o checkbox for desmarcado, restaure o valor original
      checkbox.value = valorOriginal.toString();
      console.log("false")

    }
  });
</script>



{%endblock%}