{% extends 'base.html'%}


{% load static %}

{% block content %}

<div class="container mt-4 text-center">
    <div class="row">
        <div class="col-md-4">
            <h2 class="text-center">Cartão de Crédito</h2>
                <div class="card mt-3">
                <h4 class="card-title mt-3 text-center "> </h4>

                    <table class="table table-hover" id="compras_extrato" style="border-radius : 10px;">
                        <thead class=>
                            <tr>      
                                <th> </th>                
                                <th>Marca </th>
                                <th>Saldo </th>
                                <th>Limite </th>

                            </tr>
                        </thead>
                        <tbody>
                            {%if not cartao_obj %}
                            <tr> 
                            <th></th>
                            <th>Nenhum</th>                
                            <th>Cartão </th>
                            <th>Cadastrado</th>
                            </tr> 
                            {%else%}
                            {%endif%}

                        {%for c in cartao_obj %}
                
                            <tr> 
                            <td> <a href="{%url 'delete' c.id 'cartao' %}" > <i class=" text-danger bi bi-x-square "></i> </a> </td>

                            <td><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{%url 'atualizar_cartao' c.id %}" >{{c.Marca}}  </a></td>
                                <td>{{c.saldo_cartao}}</td>  
                                <td>{{c.limite}}</td>  
                                
                            </tr>
                         {%endfor%} 	
                           
                        </tbody>
        
                    </table>
            <div class='row m-lg-2  '>
                    <div class='col px-lg-5'>
                        <button class="btn btn-primary text-white"  data-toggle="modal" data-target="#myModal"> Adicionar Cartão </button>

                    </div>
            </div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Adicionando Crédito</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
        <div class ='p-1'>
            {{form_cartao.as_p}}
        </div>

        <div class ='p-1'>
        <button type="submit" class="btn btn-primary text-white" >Adicionar Crédito </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
        </form>
        
    </div>
    </div>
    </div>

</div> 
            </div>
        </div>
        {% comment %} Fazer herança {% endcomment %}
        {%block cartao%}
        {%include 'despesa\compras.html' %}

        {%endblock cartao%}
        {% comment %} herança  {% endcomment %}
            
        <div class="col-md-4">
            <h2 class="text-center">Consumo de Crédito</h2>
            <div class="card mt-3">
                <h4 class="card-title mt-3 text-center ">Mês de: {{mes_atual}}     </h4>
                {% comment %} <canvas id="pie-chart"></canvas> {% endcomment %}
                
                    <div style="width: 400px; height: 400px;">
        <canvas id="myPieChart"></canvas>
    </div>

            </div>
    
            </div>
        </div>
    </div>
</div>

<script>
    var data = {
        labels: ['Compras', 'Saldo', ],
        datasets: [{
            data: [{{total_compras}}, {{total_saldo}}, ], // Valores para cada fatia da pizza
            backgroundColor: [
                 'rgb(255, 99, 132)',
                 'rgb(54, 162, 235)',
            ]
        }]
    };
    
    // Obtém o contexto do elemento canvas
    var ctx = document.getElementById('myPieChart').getContext('2d');
    
    // Cria o gráfico de pizza
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: data,
        options: {
            // Opções de personalização (opcional)
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                position: 'top'
            }
        }
    });

    const table = document.querySelector('#scrollable-table');

    // Define a altura máxima da tabela (em pixels)
    const maxHeight = 300;

    // Adiciona a rolagem apenas se a altura da tabela exceder maxHeight
    if (table.clientHeight > maxHeight) {
        table.style.overflowY = 'scroll'; // Adiciona a rolagem vertical
        table.style.maxHeight = maxHeight + 'px'; // Define a altura máxima
    }
</script>


{% endblock %}
