{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4 text-center">
    <div class="row">
        <div class="col-md-4">
            <h2 class="text-center">Cartão de Crédito</h2>
                <div class="card mt-3">
                <h4 class="card-title mt-3 text-center ">Mês de: {{mes_atual}}     </h4>

                    <table class="table table-hover" style="border-radius : 10px;">
                        <thead class=>
                            <tr>                      
                                <th>Marca </th>
                                <th>Saldo </th>
                                <th>Limite </th>

                            </tr>
                        </thead>
                        <tbody>
                        {%for c in cartao_obj %}
                
                            <tr> 
                            <td><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{%url 'atualizar_cartao' c.id %}" >{{c.Marca}}  </a></td>
                                <td>{{c.saldo_cartao}}</td>  
                                <td>{{c.limite}}</td>  
                                
                            </tr>
                         {%endfor%} 	
                           
                        </tbody>
        
                    </table>
            <div class='row m-lg-2  '>
                    <div class='col px-lg-5'>
                        <button class="btn btn-primary text-white"  data-toggle="modal" data-target="#myModal"> Adicionar Cartão </button>

                    </div>
            </div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Adicionando Crédito</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
        <div class ='p-1'>
            {{form_cartao.as_p}}
        </div>

        <div class ='p-1'>
        <button type="submit" class="btn btn-primary text-white" >Adicionar Crédito </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
        </form>
        
    </div>
    </div>
    </div>

</div> 
            </div>
        </div>
        <div class="col-md-4">
            <h2 class="text-center">Compras no Crédito</h2>
            <div class="card mt-3">
                <h4 class="card-title mt-3 text-center ">Mês de: {{mes_atual}}     </h4>
                <table class="table table-hover" style="border-radius : 10px;">
                    <thead class=>
                        <tr>               
                            <th> </th>
                            <th>Nome </th>
                            <th>Valor </th>
                            <th>Data </th>
                            <th> Cartão </th>

                        </tr>
                    </thead>
                    <tbody>
                        {%if not compras_cartao %}
                        <tr> 
                        <td> </td>
                        <td>Nenhuma </td>  
                        <td>Compra</td>  
                        <td>Registrada </td>  
                        <td> </td>  
                        </tr> 
                    
                    </tbody>
                    <a href="{%url 'add_compra' request.user.id  %}" class="btn btn-danger text-white  px-lg-5" > Adicionar Compra </a>
    
                </table>
                
            </div>

            
                {%else%}



                {%for c in compras_cartao %}
        
                    <tr> 
                    <td> <a href="{%url 'delete' c.id  'cartoes' %}" > <i class=" text-danger bi bi-x-square "></i> </a> </td>
                    <td><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{%url 'atualizar_compras' c.id  %}" >{{c.nome}}  </a></td>
                    
                        <td class="text-danger"> <strong>{{c.valor}}</strong></td>
                        <td class="text-danger"> <strong>{{c.data|date:'d/m/y'}}</strong></td>  
                        <td class="text-danger"> <strong>{{c.cartao_credito}}</strong></td>  



                        
                        </tr>
                {%endfor%} 	
                    
                    </tbody>

                </table>

                <p> Saldo dos Cartões: {{total_saldo}} <p>

                    <a href="{%url 'add_compra' request.user.id  %}" class="btn btn-danger text-white  px-lg-5" > Adicionar Compra </a>

            </div>
           
        </div>
        {%endif%}
            
        <div class="col-md-4">
            <h2 class="text-center">Consumo de Crédito</h2>
            <div class="card mt-3">
                <h4 class="card-title mt-3 text-center ">Mês de: {{mes_atual}}     </h4>
                <canvas id="pie-chart"></canvas>
    </div>
    <div class='row m-lg-2  '>

        <p> Saldo: <p>


            <div class='col px-lg-5'>
                
                <a href="{%url 'add_compra' request.user.id  %}" class="btn btn-danger text-white  px-lg-5" > Adicionar Compra </a>

            </div>
    </div>
</div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var data = {


             labels: ['Saldo Cartões','Compras feitas'],
            datasets: [{
                data: [{{total_saldo}},{{total_compras}}],
                        backgroundColor: ['green','red']
                    }]
                };
           
               
                

        var ctx = document.getElementById('pie-chart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'pie',
            data: data,
            options: {
                title: {
                    display: true,
                    text: 'Meu Gráfico de Despesas e Receitas',
                    fontSize: 16,
                    fontColor: 'black',
                    fontFamily:'arial black '
                },
                elements: {
                    arc: {
                        borderWidth: 0
                    }
                },
                legend: {
                    display: true,
                    position: 'bottom',
                    labels: {
                        fontColor: 'black',
                        fontSize: 12
                    }
                }
            }
        });
    });
</script>


{% endblock %}
